<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>{{title}}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/spen-portrait-min.jpeg">
        <p>This site was created by Spencer Sablan as a way to learn how to work with a server in Node.js. It uses data from mapbox.com & weatherstack.com.</p>
        <h2>Here are some things I learned with this project:</h2>
        <ul>
            <li>How to build a web server</li>
            <li>How to access an API from the browser</li>
            <li>How to take the data I am pulling & display it to the client</li>
            <li>How to use templates with node.js & handlebars</li>
            <li>How to create a git repository</li>
            <li>How to push your git repository to GitHub</li>
            <li>How to deploy your application to Heroku</li>
        </ul>
        
        <p>Overall, this was a very fun project.  I didn't style it much, since that was not the objective of this app.</p>
    </div>

    {{>footer}}
</body>
</html>